
<app-prism-highlighter
  [code]="codeHere"
  [language]="'javascript'">
</app-prism-highlighter>

<app-card>
  <span>This is header main</span>
  <p #ngDesc class="text-gray-700 text-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
  </p>
</app-card>

<input type="text" placeholder="Enter you name" />
<button>Submit</button>

<markdown class="variable-binding" [data]="markdown"></markdown>
