.markdown-container {
  padding: 20px;
}

.markdown-clipboard-toolbar {
  opacity: 0;
  transition: opacity 250ms ease-out;
}

.markdown-clipboard-toolbar:hover {
  opacity: 1;
}

.anchor {
  text-decoration: none;
  color: inherit;
}

.header-link {
  margin-right: 8px;
}
